  <div class="control-group">
    <%= f.label :data_parto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data_parto, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qtde_filhos, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :qtde_filhos, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mortalidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :mortalidade, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_desmamado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_desmamado, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data_desmame, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data_desmame, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :retorno_cio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :retorno_cio, :class => 'text_field' %>
    </div>
  </div>
