<%= form_for(@reprodutor) do |f| %>
  <% if @reprodutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reprodutor.errors.count, "error") %> prohibited this reprodutor from being saved:</h2>

      <ul>
      <% @reprodutor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= field_set_tag do %>
    
    <div class='control-group'>
      <%= f.label :numid, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :numid, class: 'text_field' %>
      <div>
    </div>


    <div class='control-group'>
      <%= f.label :nome, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :nome, class: 'text_field' %>
      <div>
    </div>
  
    <div class='control-group'>
      <%= f.label :descricao, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_area :descricao, class: 'text_field' %>
      <div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
